<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Info" internalLogFile="c:\temp\nlog-internal.log">

	<!-- File target -->
	<targets>
		<!-- General log file -->
		<target xsi:type="File" name="file"
				fileName="${basedir}/App_Data/logs/app-${shortdate}.log"
				layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message} ${exception}" />

		<!-- Error log file -->
		<target xsi:type="File" name="errorFile"
				fileName="${basedir}/App_Data/logs/errors-${shortdate}.log"
				layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message} ${exception}" />
	</targets>

	<!-- Rules decide what goes where -->
	<rules>
		<!-- All Info+ logs go to main log -->
		<logger name="*" minlevel="Info" writeTo="file" />
		<!-- Errors and Fatal go to error log -->
		<logger name="*" minlevel="Error" writeTo="errorFile" />
	</rules>
</nlog>
